.callout_questao{
    background-color: red;
}
.callout_atencao{
    background-color: chartreuse;
}
.callout_exemplo{
    background-color: burlywood;
}
body{
    margin-left: 1em;
}
article{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align:center;
    float: left;
}