.callout_questao{
    background-color: #85e795;
    border-radius: 1em;
    padding: 1em;
}
.callout_atencao{
    background-color: peru;
    padding: 1em;
    border-radius: 1em;
}
.callout_exemplo{
    background-color: greenyellow;
    border-radius: 1em;
    padding: 1em;
}
body{
    margin-left: 1em;
    background-color: #e2e2e2;
    font-family: 'Garamond', Times, serif;
}
article{
    margin: auto;
    width: 50%;
    border: 3px solid grey;
    padding: 10px;
    text-align:justify;
}

img{
    width: 100%;
}

h1, h2, h3{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
img{
    border-radius: 0.5em;
}